/* Stylesheet for order_online.html*/

body {
	background-color: #585859;
	background-image: url(../images/bg.jpg);
}

legend {
	font-size: 43px;
	text-align: left;
	color: #ed5f13;
	font-weight: bolder;
	text-decoration: underline;
   font-family: "Permanent Marker", sans-serif;
}

h2 {
	color: #ed5f13;
	text-decoration: underline;
   font-family: "Permanent Marker", sans-serif;
   font-size: 40px;
}

p {
	color: #ff9f35;
	font-weight: bold;
   font-family: "Rubik", sans-serif;
}

label {
	color: #ff9f35;
	font-weight: bold;
	display: inline-block;
	font-family: "Rubik", sans-serif;
   font-size: 16px;
}

input:focus, select:focus, textarea:focus {
	background-color: rgb(220,255,220);
}

form {
	text-align: left;
	float: left;
	margin-right: 450px;
	margin-left: 20px;
}

#order2 {
	text-align: right;
	float: right;
	align-content: right;
	margin-left: 150px;
}

html {
	overflow: hidden;
}

/*Mobile Styles */
@media only screen and (max-width: 481px) {
   html {
    	overflow: scroll;
      overflow-x: hidden;
   }

   #order2 {
   	float: none;
   	margin-left: 10px
   }

   form {
   	float: none;
   	margin-right: 0px;
   	margin-left: 0px;
   }

   legend {
   	font-size: 28px;
   	text-align: center;
   }

   h2 {
   	text-align: center;
      font-size: 35px;
   }

   #title {
      font-size: 35px;
   }

   #order {
      margin-left: 10px;
   }

   .buttons {
      margin-left: 10px;
      margin-bottom: 10px;
  }

  .order3 {
      margin-left: 10px;
  }
}

/*Tablet Styles*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
   html {
      overflow: scroll;
      overflow-x: hidden;
   }

   #order2 {
   	float: none;
   	margin-left: 10px
   }

   form {
   	float: none;
   	margin-right: 0px;
   	margin-left: 0px;
   }

   legend {
   	font-size: 32px;
   	text-align: left;
      margin-left: 10px;
   }

   h2 {
      text-align: left;
   }

  #para4 {
      margin-bottom: 49px;
   }

  #para5 {
      margin-bottom: 42px;
   }

  #order {
      margin-left: 10px;
   }

  .formRow {
      margin-left:
   }

  .buttons {
      margin-left: 10px;
      margin-bottom: 10px;
   }

  .order3 {
      margin-left: 10px;
   }
}

/*Big Tablet Styles*/
@media only screen and (min-width: 770px) and (max-width: 1024px) {
   html {
      overflow: scroll;
      overflow-x: hidden;
   }

   #order2 {
      float: none;
      margin-left: 10px
   }

   form {
      float: none;
      margin-right: 0px;
      margin-left: 0px;
   }

   legend {
      font-size: 32px;
      text-align: left;
      margin-left: 10px;
   }

   h2 {
      text-align: left;
   }

  #para4 {
      margin-bottom: 70px;
   }

  #para5 {
      margin-bottom: 40px;
   }

  #order {
      margin-left: 10px;
   }

  .formRow {
      margin-left:
   }

  .buttons {
      margin-left: 10px;
      margin-bottom: 10px;
   }

  .order3 {
      margin-left: 10px;
   }
}
